* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}


.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 33.33%;
  /*display: none; */
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {

  padding: 10px;
}
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}
